body {
	background-color: #50514F;
	color: #E7E5DF;
	margin: 0px;
	margin-bottom: 120px;
}

/* Footer section start */

footer {
	bottom: 0;
	width: 100%;
	height: 80px;
	border-top: 2px solid;
	position: fixed;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	background-color: #50514F;
	box-shadow: 0px -2px 30px #111111;
	z-index: 100;
}

footer.show {
	height: 320px;
	box-shadow: 0px -10px 100px #111111;
}

.footer-toggle {
	width: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
	margin-top: 6px;
}

.footer-toggle.open {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.footer-toggle img {
	width: 40px;
	height: 40px;
}

.copywrite {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-user-select: none;
	user-select: none;
	height: 35px;
	margin-top: 0px;
	font-size: 2vmin;
}

.copywrite-link {
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	text-transform: capitalize;
	text-decoration: none;
	color: #E7E5DF;
}

.copywrite-link:hover {
	color: #E8BB40;
	text-decoration: underline;
	cursor: pointer;
	transform: scale(1.02);
}

.mail-link {
	color: aliceblue;
	text-decoration: none;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

.mail-link:hover {
	color: #E8BB40;
	cursor: pointer;
	text-decoration: underline;
	font-size: 18px;
}

.workshop-link {
	color: aliceblue;
	text-decoration: none;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

.workshop-link:hover {
	color: #E8BB40;
	cursor: pointer;
	text-decoration: underline;
	font-size: 18px;
}

.footer-box-container {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;

	-webkit-user-select: none;
	user-select: none;
	border-top: 2.4px solid;
	border-top-color: #7B8286;
	width: 90%;
	margin: auto;

}

.footer-box {
	flex: 1;
	margin: 5px;
	min-width: 300px;
	-webkit-user-select: all;
	user-select: all;
}

.footer-box-content {
	color: aliceblue;
	text-align: center;
}

.mobile.footer-box-container {
	display: block;
	overflow: hidden;
	border-top: 2.4px solid;
	border-top-color: #7B8286;
	width: 100%;
	padding: 10px;
	height: 300px;
	padding: 0px;

}

.footer-shift {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	width: 85%;
	margin: auto;
}

.mobile.footer-shift {
	position: absolute;
	display: block;
	background-color: inherit;
	width: 600px;
	height: 300px;
	-webkit-transition: all 0.2s ease;
	transition: all 0.8s ease;
}

.mobile.footer-shift.center {
	left: 50%;
	margin-left: -300px;
}

.mobile.footer-shift.right {
	left: 50%;
	margin-left: -95px;
}

.mobile.footer-shift.left {
	left: 50%;
	margin-left: -470px;
}

.mobile.footer-box-container .mobile.footer-box:nth-child(1) {
	transform: translate(-20%);
}

.mobile.footer-box-container .mobile.footer-box:nth-child(2) {
	transform: translate(50%);
}

.mobile.footer-box-container .mobile.footer-box:nth-child(3) {
	transform: translate(105%);
}

.mobile.footer-box {
	position: absolute;
	width: 300px;
	opacity: .1;
	font-size: 13px;
	-webkit-user-select: none;
	user-select: none;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.mobile.footer-box.focus {
	opacity: 1;
	font-size: 16px;
}

/* Footer section end */
/* Container section start */

.playground {
	margin-top: 60px;
	margin-bottom: 40px;
}

/* Container section end */
/* Button section start */

.button {
	margin: 3px;
	width: 80px;
	height: 30px;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	background-color: transparent;
	outline: none;
	overflow: hidden;
	-webkit-user-select: none;
	user-select: none;
	color: #D3D0CB;
	border-color: #7B8286;
	border-style: solid;
	border-width: 2.5px;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

.button:hover {
	border-color: #E8BB40;
	color: #E8BB40;
	cursor: pointer;
}

.button:active {
	-webkit-transform: translate(3px, 2px);
	transform: translate(3px, 2px);
}


/* Button section end */


/* Navbar menu section start */

.nav {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	border-bottom: 2px solid;
	background-color: #50514F;
	position: fixed;
	width: 100%;
	min-height: 40px;
	top: 0;
	height: 40;
	z-index: 100;
	box-shadow: 0px 2px 30px #111111;
}

.logo img {
	height: 40px;
	width: 40px;
	padding-top: 2px;
}

.logo-title {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	height: 40px;
	margin-left: 10px;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

.title {
	display: -webkit-flex;
	display: flex;
	-webkit-flex: 1;
	flex: 1;
	-webkit-user-select: none;
	user-select: none;
	margin-left: 20px;
}

.logo-title:hover {
	cursor: pointer;
	color: #E8BB40;
}

.logo-title:active {
	-webkit-transform: translate(3px, 2px);
	transform: translate(3px, 2px);
}

.leftnav {
	-webkit-flex: 3;
	flex: 3;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: flex-end;
	align-items: flex-end;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
	margin-right: 5px;
	z-index: 100;
}

.navbar-menu-wrapper {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: flex-end;
	align-items: flex-end;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

.navbar-menu {
	margin-top: 5px;
	margin-right: 2px;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.navbar-menu:hover {
	cursor: pointer;
}

.navbar-menu .menu-item {
	background: #E7E5DF;
	display: block;
	height: 3px;
	margin: 0 0 8px;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	width: 32px;
}

.navbar-menu.open .menu-item {
	margin: 0 0 5px;
}

.navbar-menu.open .menu-item:first-child {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 5px;
	transform-origin: 5px;
}

.navbar-menu.open .menu-item:nth-child(2) {
	opacity: 0;
}

.navbar-menu.open .menu-item:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 5px;
	transform-origin: 5px;
}

.navbar-menu-list {
	background-color: #50514F;
	display: none;
	text-align: center;
	list-style: none;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 44px;
	z-index: 100;
	width: 100%;
}

.type-switch-item-list {
	list-style: none;
	padding: 0;
	display: none;
}

.type-button-switch-item-list {
	margin-left: 3px;
	margin-top: 42px;
	padding: 0;
	list-style: none;
	position: absolute;
	display: none;
}

.type-button-switch-item {
	margin: 3px;
	width: 80px;
	height: 30px;
	text-align: center;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	background-color: transparent;
	outline: none;
	overflow: hidden;
	-webkit-user-select: none;
	user-select: none;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

.type-button-switch-item:hover {
	border-color: #E8BB40;
	color: #E8BB40;
	cursor: pointer;
}

.type-button-switch-item:active {
	-webkit-transform: translate(3px, 2px);
	transform: translate(3px, 2px);
}

.navbar-menu-list li {
	color: #E7E5DF;
	display: block;
	padding: 10px 0;
	text-align: center;
	text-decoration: none;
	-webkit-user-select: none;
	user-select: none;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-bottom: 2.5px solid rgba(255, 255, 255, 0.3);
}

.navbar-menu-list li:hover {
	background-color: #E7E5DF;
	color: #50514F;
}

.navbar-menu-list li:active {
	-webkit-transform: translate(3px, 2px);
	transform: translate(3px, 2px);
}


/* Navbar menu section end */


/* Billboard*/

.billboard{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
    height: 1500px;
}

.billboard-info{
    height: 40%;
    background-color: antiquewhite;
    font-family: 'Raleway', sans-serif;
    font-size: 2.0rem;
    color: black;
    border-left: 10px solid #E05B4F;
    border-radius: 10px;
    box-shadow:5px 5px 5px black;
    line-height: 35px;
    letter-spacing: 1px;
}

.billboard-card-left{
    margin-top: 50px;
    margin-right: 2.5%;
    display: inline-block;
    float: left;
    height: 20%;
    width: 47.5%;
    background-color: antiquewhite;
    font-family: 'Raleway', sans-serif;
    font-size: 2.0rem;
    color: black;
    border-radius: 10px;
    box-shadow:5px 5px 5px black;
    line-height: 35px;
    letter-spacing: 1px;
}
    
.billboard-card-right{
    margin-top: 50px;
    margin-left: 2.5%;
    display: inline-block;
    height: 20%;
    width: 47.5%;
    float: left;
    background-color: antiquewhite;
    font-family: 'Raleway', sans-serif;
    font-size: 2.0rem;
    color: black;
    border-radius: 10px;
    border-left: 10px solid #E05B4F;
    box-shadow:5px 5px 5px black;
    line-height: 35px;
    letter-spacing: 1px;
}
    
.billboard .billboard-info h1{
    padding-top: 30px;
    padding-left: 10px;
    font-family: 'Raleway', sans-serif;
    color: #E05B4F;
}

.billboard-card-left.blue h1{
    padding-top: 10px;
    padding-left: 10px;
    font-family: 'Raleway', sans-serif;
    color: #4CABDA;
}

.billboard-card-right.blue h1{
    padding-top: 10px;
    padding-left: 10px;
    font-family: 'Raleway', sans-serif;
    color: #4CABDA;
}

.billboard-card-left.green h1{
    padding-top: 10px;
    padding-left: 10px;
    font-family: 'Raleway', sans-serif;
    color: #84DCC5;
}

.billboard-card-right.green h1{
    padding-top: 10px;
    padding-left: 10px;
    font-family: 'Raleway', sans-serif;
    color: #84DCC5;
}

div.red{
    border-left: 10px solid #E05B4F;
}

div.blue{
    border-left: 10px solid #4CABDA;
}

div.green{
    border-left: 10px solid #84DCC5;
}


.billboard ul{
    list-style: none;
}

.billboard li:before{
    color: #E05B4F;
    content: "O ";
}

.billboard .blue li:before{
    color: #4CABDA;
    content: "O ";
}

.billboard .green li:before{
    color: #84DCC5;
    content: "O ";
}

    
/*initialize start*/

*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	padding: 0;
	font-size: 1.7rem;
	font-family: 'Raleway', sans-serif;
	color: #fff;
	background-color: #39393a;
}

a {
	text-decoration: none;
}


/*initialize end*/


/*form section start */
.form-container li::selection { background: transparent }
.form-container img::selection { background: transparent }
.mention-info::selection { background: transparent }
section {
	display: none;
	margin-top: 100px;
	width: 100%;
	height: 500px;
}

section.active {
	display: block;
}

section .form-container {
	text-align: center;
}

section .form-container .form-inner {
	position: relative;
	margin: 0 auto;
	width: 320px;
	height: 480px;
	border-radius: 3px;
	background-color: #50514f;
	box-shadow: 3px 4px 10px #111111;
	overflow: hidden;
}


/*sign-in sign-up information start*/

.info {
	text-align: left;
	margin-top: 10px;
}

.info li {
	display: inline-block;
	padding-left: 5px;
	width: 70px;
	cursor: pointer;
}

.sign-in {
	margin-left: 10%;
	margin-right: 0px;
	padding: 0;
	color: #DCDCDD;
	transition: color 0.5s ease;
}

.sign-up {
	margin-right: 0px;
	color: #DCDCDD;
	transition: color 0.5s ease;
}

.sign-in.active {
	color: #E6CE69;
}

.sign-up.active {
	color: #E6CE69;
}

.info-state {
	position: absolute;
	display: block;
	content: "";
	width: 45px;
	height: 3px;
	top: 0px;
	left: 38px;
	background-color: #E6CE69;
	transition: all 0.2s ease;
}

.info-state.right {
	position: absolute;
	display: block;
	content: "";
	width: 45px;
	height: 3px;
	top: 0px;
	left: 117px;
	background-color: #E6CE69;
	transition: all 0.2s ease;
}

.info li:hover {
	color: #E6CE69;
	transition: color 0.5s ease;
}


/*sign-in sign-up information end*/


/*photo style start*/

.photo {
	padding-top: 30px;
	position: relative;
	width: 100%;
	height: 100px;
}

.photo img {
	width: 100px;
	height: 100px;
}


/*photo style end*/


/*form input style start*/

.form-input {
	width: 210%;
	transition: all .5s ease;
}

.form-input.slide {
	margin-left: -105%;
}

.form-input-inner {
	display: inline-block;
	width: 49%;
}


/*form input button start*/

.mention {
	bottom: 0;
	height: 90px;
	width: 106%;
	cursor: pointer;
	position: absolute;
	transition: all .4s ease;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #E6CE69;
	margin-left: -3px;
}

.mention:hover {
	background-color: #E5DCB7;
}

.mention:active {
	transform: translate(3px, 2px);
}

.mention-info {
	padding-top: 25px;
	padding-right: 15px;
	font-size: 25px;
	color: #50514f;
}


/*form input button end*/


/*input style start*/

.sign-in-input {
  padding-top: 40px;
  width: 320px;
  height: 200px;
}
.sign-up-input{
  padding-top: 15px;
  width: 320px;
  height: 200px;
}
.input-contain {
  width: 70%;
  height: 200px;
  margin: 0 auto;
  border-radius: 3px;
}
.input-contain .warp {
  position: relative;
  margin-top: 10px;
  height: 25%;
  width: 100%;
  z-index: 2;
  background-color: transparent;
  transition: all .4s ease;
}

.input-contain input[type=text],input[type=password] {
  border:none;
  float: left;
  margin-top: 10px;
  width: 100%;
  height: 80%;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  overflow: hidden;
  color: #DCDCDD;
  background-color: transparent;
  border-bottom: 2px solid #A6A2A2;
  letter-spacing: 1.5px;
  outline: none;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
.input-contain input[type=text]:focus,input[type=password]:focus{
  border-bottom: 2px solid #E6CE69;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
.sign-up-input .input-contain .warp{
  height: 22%
}
input.sign-up-placeholder::-webkit-input-placeholder {
color: #6D6E6B !important;
}

input.sign-up-placeholder:-moz-placeholder { /* Firefox 18- */
color: #6D6E6B !important;
}

input.sign-up-placeholder::-moz-placeholder {  /* Firefox 19+ */
color: #6D6E6B !important;
}

input.sign-up-placeholder:-ms-input-placeholder {
color: #6D6E6B !important;
}


/*input type end*/


/*form input style start*/


/*form section end*/


/* Responsive With Device section start */

@media screen and (max-width: 910px) {
	.navbar-menu-wrapper,
	.box-container {
		display: none;
	}
	.title {
		-webkit-flex: 5;
		flex: 5;
	}
	.leftnav,
	.logo img {
		-webkit-flex: 1;
		flex: 1;
	}
	.logo-title {
		flex: 2;
	}
}

@media screen and (min-width: 910px) {
	.navbar-menu,
	.footer-shift-right,
	.footer-shift-left {
		display: none;
	}
}


/* Responsive With Device section end */
