body {
	background-color: #50514F;
	color: #E7E5DF;
	margin: 0px;
}


/* Footer section start */

footer {
	bottom: 0;
	width: 100%;
	height: 0px;
	border-top: 2px solid;
	position: fixed;
	opacity: 0;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

footer.show {
	opacity: 1;
	height: 280px;
	background-color: #50514F;
}

.copywrite {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	border-top: 2px solid;
	border-top-color: #7B8286;
	height: 35px;
	margin: 20px;
	margin-top: 0px;
}

.copywrite-link {
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	text-transform: capitalize;
	text-decoration: none;
	color: #E7E5DF;
}

.copywrite-link:hover {
	color: #E8BB40;
	text-decoration: underline;
	cursor: pointer;
	transform: scale(1.02);
}

.mail-link {
	color: aliceblue;
	text-decoration: none;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

.mail-link:hover {
	color: #E8BB40;
	cursor: pointer;
	text-decoration: underline;
	font-size: 18px;
}

.workshop-link {
	color: aliceblue;
	text-decoration: none;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

.workshop-link:hover {
	color: #E8BB40;
	cursor: pointer;
	text-decoration: underline;
	font-size: 18px;
}

.box-container {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	width: 85%;
	margin: auto;
}

.box {
	flex: 1;
}

.box-content {
	color: aliceblue;
	text-align: center;
}


/* Footer section start */


/* Container section start */

.container {
	margin-top: 60px;
	margin-bottom: 40px;
}


/* Container section end */

.card.hide {
	opacity: 0;
}

.card {
	/* blank card */
	/*
	margin-top: 200px;
	margin-left: 50px;
*/
	border: 2.5px dashed;
	border-color: #44BBA4;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	justify-content: center;
	flex-wrap: wrap;
	width: 400px;
	height: 600px;
	opacity: 1;
}

.cardInputWrapper {}

.cardInput {
	position: relative;
	background: transparent;
	border: none;
	color: #E7BB41;
	outline: none;
	padding: 8px 0;
	font-size: 16px;
	width: 60%;
}


/* Button section start */

.button {
	margin: 3px;
	width: 80px;
	height: 30px;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	background-color: transparent;
	outline: none;
	overflow: hidden;
	-webkit-user-select: none;
	user-select: none;
	color: #D3D0CB;
	border-color: #7B8286;
	border-style: solid;
	border-width: 2.5px;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

.button:hover {
	border-color: #E8BB40;
	color: #E8BB40;
	cursor: pointer;
}

.button:active {
	transform: translate(3px, 2px);
}


/* Button section end */


/* Navbar menu section start */

.nav {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	border-bottom: 2px solid;
	background-color: #50514F;
	position: fixed;
	width: 100%;
	min-height: 40px;
	top: 0;
	height: 40;
}

.logo img {
	height: 40px;
	width: 40px;
}

.logo-title {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	height: 40px;
	margin-left: 10px;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

.title {
	display: -webkit-flex;
	display: flex;
	-webkit-flex: 1;
	flex: 1;
	-webkit-user-select: none;
	user-select: none;
	margin-left: 20px;
}

.logo-title:hover {
	cursor: pointer;
	color: #E8BB40;
}

.logo-title:active {
	transform: translate(3px, 2px);
}

.leftnav {
	-webkit-flex: 3;
	flex: 3;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: flex-end;
	align-items: flex-end;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
	margin-right: 5px;
}

.navbar-menu-wrapper {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: flex-end;
	align-items: flex-end;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

.navbar-menu {
	margin-top: 5px;
	margin-right: 2px;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.navbar-menu:hover {
	cursor: pointer;
}

.navbar-menu .menu-item {
	background: #E7E5DF;
	display: block;
	height: 3px;
	margin: 0 0 8px;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	width: 32px;
}

.navbar-menu.open .menu-item {
	margin: 0 0 5px;
}

.navbar-menu.open .menu-item:first-child {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 5px;
	transform-origin: 5px;
}

.navbar-menu.open .menu-item:nth-child(2) {
	opacity: 0;
}

.navbar-menu.open .menu-item:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 5px;
	transform-origin: 5px;
}

.navbar-menu-list {
	background-color: #50514F;
	display: none;
	text-align: center;
	list-style: none;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 44px;
	width: 100%;
}

.type-switch-item-list {
	list-style: none;
	padding: 0;
	display: none;
}

.type-button-switch-item-list {
	margin-left: 3px;
	margin-top: 42px;
	padding: 0;
	list-style: none;
	position: absolute;
	display: none;
}

.type-button-switch-item {
	margin: 3px;
	width: 80px;
	height: 30px;
	text-align: center;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	background-color: transparent;
	outline: none;
	overflow: hidden;
	-webkit-user-select: none;
	user-select: none;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

.type-button-switch-item:hover {
	border-color: #E8BB40;
	color: #E8BB40;
	cursor: pointer;
}

.type-button-switch-item:active {
	transform: translate(3px, 2px);
}

.navbar-menu-list li {
	color: #E7E5DF;
	display: block;
	padding: 10px 0;
	text-align: center;
	text-decoration: none;
	-webkit-user-select: none;
	user-select: none;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-bottom: 2.5px solid rgba(255, 255, 255, 0.3);
}

.navbar-menu-list li:hover {
	background-color: #E7E5DF;
	color: #50514F;
}

.navbar-menu-list li:active {
	transform: translate(3px, 2px);
}


/* Navbar menu section end */


/* Responsive With Device section start */

@media screen and (max-width: 768px) {
	.navbar-menu-wrapper {
		display: none;
	}
	.title {
		-webkit-flex: 5;
		flex: 5;
	}
	.leftnav,
	.logo img {
		-webkit-flex: 1;
		flex: 1;
	}
	.logo-title {
		flex: 2;
	}
}

@media screen and (min-width: 768px) {
	.navbar-menu {
		display: none;
	}
}


/* Responsive With Device section end */
