body {
	background-color: #50514f;
	color: #e7e5df;
	margin: 0px;
}

.nav {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	border-bottom: 2px solid;
	position: fixed;
	width: 100%;
	min-height: 40px;
	top: 0;
	height: 40;
}

.title {
	-webkit-flex: 1;
	flex: 1;
	margin-left: 5px;
}

.leftnav {
	-webkit-flex: 3;
	flex: 3;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: flex-end;
	align-items: flex-end;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
	margin-right: 5px;
}

.card.hide {
	opacity: 0;
}



.card {

	/* blank card */
	margin-top: 200px;
	margin-left: 50px;
	border: 2.5px dashed;
	border-color: #44BBA4;


	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	justify-content: center;
	flex-wrap: wrap;
	width: 400px;
	height: 600px;
	opacity: 1;
}


.cardInputWrapper {

}

.cardInput {
	position: relative;
	background: transparent;
	border: none;
	color: #E7BB41;
	outline: none;
	padding: 8px 0;
	font-size: 16px;
	width: 60%;
}

button {
	margin: 3px;
	width: 90px;
	height: 25px;display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	background-image: -webkit-linear-gradient(left, #50514F 50%, #5B5C5A 50%);
	background-image: linear-gradient(left, #50514F 50%, #5B5C5A 50%);
	background-size: 200%;
	background-position: 0px;
	outline: none;
	color: #D3D0CB;
	border-color: #7B8286;
	border-style: solid;
	border-width: 2.5px;

	-webkit-transition: all .3s ease;
	transition: all .3s ease;

}

button:hover {
	border-color: #E8BB40;
}


button.clicked {
	background-position: -100%;
}



